.awstore-page {
  font-family: Arial, sans-serif;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-weight: bold;
  color: orange;
}

.hero-section {
  background-color: #ff7200;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: left;
  position: relative;
  overflow: visible;
  border-radius: 10px;
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.hero-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1rem;
  max-width: 800px;
}

.hero-content {
  max-width: 60%;
  padding-right: 1rem;
}

.app-preview {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.slanted-image {
  width: 220px;
  transform: rotate(-15deg);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-40%) rotate(-10deg);
}

.features-section {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.feature-card {
  background-color: #ffe0b2;
  color: #ff7200;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
}

.feature-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.feature-card p {
  font-size: 0.9rem;
}

.cta-section {
  background-color: #ff7200;
  color: white;
  padding: 2rem 0;
  position: relative;
  overflow: visible;
}

.cta-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cta-text {
  max-width: 50%;
  text-align: left;
  padding-right: 2rem;
}

.cta-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cta-text p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cta-image {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.cta-slanted-image {
  width: 220px;
  transform: rotate(-15deg);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(10deg); /* Center vertically and rotate */
}

/* Styling for the download section */
.download-section {
  text-align: center;
  padding: 4rem 0;
  gap: 2rem;
}

.download-header {
  margin-bottom: 1rem;
}

.download-button {
  background-color: #ff7200;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #ff5400;
}