@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@100;300&display=swap');

:root {
  --button: hsl(32, 85%, 41%);
  --button-color: white;
  --shadow: hsl(0, 0%, 20%);
  --bg: white;
  --header: hsl(32, 100%, 50%);
  --color: black;
  --lit-header: hsl(32, 85%, 70%);
  --speed: 2s;
}

.not-found__wrapper {
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  color: var(--color);
  perspective: 1200px;
}

.not-found__wrapper * {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.not-found__info a {
  text-transform: uppercase;
  text-decoration: none;
  background: var(--button);
  color: var(--button-color);
  padding: 1rem 4rem;
  border-radius: 4rem;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
}

.not-found__info p {
  font-weight: 300;
}

.not-found__info h1 {
  animation: swing var(--speed) infinite alternate ease-in-out;
  font-size: clamp(3rem, 20vmin, 20rem);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 0.5rem;
  transform: translate3d(0, 0, 0vmin);
  --x: calc(50% + (var(--swing-x) * 0.5) * 1%);
  background: radial-gradient(var(--lit-header), var(--header) 45%) var(--x) 100% / 200% 200%;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  min-width: 300px;
  margin-left: -15%;
}

.not-found__info h1:after {
  animation: swing var(--speed) infinite alternate ease-in-out;
  content: "404";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--shadow);
  filter: blur(0.5vmin);
  transform: scale(1) translate3d(5%, 10%, -5vmin) translate(calc((var(--swing-x, 0) * 0.05) * 1%), calc((var(--swing-y) * 0.05) * 1%));
}

@media (max-width: 700px) and (min-width: 300px) {
  .not-found__info h1:after {
    content: ""; /* Remove shadow by clearing the content */
  }

  .not-found__info h1 {
    font-size: clamp(2rem, 15vmin, 10rem);
    letter-spacing: 0.3rem;
    margin-left: -10%;
    min-width: 250px;
  }

  .not-found__info h2 {
    font-size: 1.5rem;
  }

  .not-found__info a {
    padding: 0.75rem 3rem;
    font-size: 0.75rem;
  }
}

.not-found__cloak {
  animation: swing var(--speed) infinite alternate-reverse ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform-origin: 50% 30%;
  transform: rotate(calc(var(--swing-x) * -0.25deg));
  background: radial-gradient(40% 40% at 50% 42%, transparent, var(--header) 35%);
}

.not-found__cloak-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.not-found__cloak-container {
  height: 250vmax;
  width: 250vmax;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found__info {
  text-align: center;
  line-height: 1.5;
  max-width: clamp(16rem, 90vmin, 25rem);
}

.not-found__info h2 {
  font-weight: bold;
  font-size: 25px;
}

.not-found__info > p {
  margin-bottom: 3rem;
}

@keyframes swing {
  0% {
    --swing-x: -100;
    --swing-y: -100;
  }
  50% {
    --swing-y: 0;
  }
  100% {
    --swing-y: -100;
    --swing-x: 100;
  }
}
